::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
  
.SearchResults {
  width: 90%;
  margin-bottom: 2rem;
  overflow-y: scroll;
  padding: .88rem;
}
@media only screen and (min-width: 1020px) {
  .SearchResults {
    width: 60vw;
    height: 47vh;
    overflow-y: scroll;
    padding: .88rem;
    margin-left: auto;
  }
}